

#set ($urlROOT = $context.getProperties().get("context"))

<div>

#if( $annonceExist == false )
    Cette annonce n'existe plus, désolé.
#else 
</div>

<div class="content-border">
	<div class="content-color">

<div class="lbcContainer">
    <div class="header_adview">
        <h2 id="ad_subject">$AnnonceEnvoi.Titre</h2>
        <div class="upload_by"> Mise en ligne par <b>$Vendeur.Nom $Vendeur.Prenom</b> le $AnnonceEnvoi.DateCreation</div>
</div>
	
	


<div class="lbcOptions">
   <div class="lbc_option_box"> 
       <div class="lbc_option_box_title"> 
       
           <label class="lbc_option_box_title_text"><strong>Contacter l'annonceur</strong></label> 
       
       </div> 
       <div> 
           <div class="lbc_links"> 
               <img src="http://static.leboncoin.fr/img/view_mail.png" class="lbc_links_pics" alt="Envoyer un email"> 
               <a rel="nofollow" href="mailto:$Vendeur.adresseMail">Envoyer un email</a>
           </div> 
                       
           <div class="clear"></div>
            
           
               <div class="lbc_links" style="margin:0.8em;font-size:11px;">
                   <em>(Je refuse tout démarchage commercial)</em>
               </div>
           
       </div>
   </div>

    
    

    

    
    <div class="lbc_option_box">
        <div class="lbc_option_box_title">
            <label class="lbc_option_box_title_text"><strong>Gérer votre annonce</strong></label>
        </div>

        
            
                
                <div class="lbc_links">
                    <img src="http://static.leboncoin.fr/img/view_modify.png" class="lbc_links_pics" alt="Modifier">
                    <a rel="nofollow" href="http://www2.leboncoin.fr/ai?ca=12_s&amp;id=646915860&amp;cmd=edit" onclick="return xt_click(this,'C','0','modifier_v2','N')">Modifier</a>
                </div>
                
                <div class="lbc_links">
                    <img src="http://static.leboncoin.fr/img/view_delete.gif" class="lbc_links_pics" alt="Supprimer">
                    <a rel="nofollow" href="http://www2.leboncoin.fr/ai?ca=12_s&amp;id=646915860&amp;cmd=delete" onclick="return xt_click(this,'C','0','supprimer_v2','N')">Supprimer</a>
                </div>
            
             <div class="lbc_links">
                <img src="http://static.leboncoin.fr/img/view_toplist.png" class="lbc_links_pics" alt="Remonter en tête de liste">
                <a rel="nofollow" href="http://www2.leboncoin.fr/ai?ca=12_s&amp;id=646915860&amp;cmd=daily_bump" onclick="return xt_click(this,'C','0','remonter_v2','N')">Remonter en tête de liste</a>
             </div>
             <div class="lbc_links">
                <img src="http://static.leboncoin.fr/img/view_up.png" class="lbc_links_pics" alt="Mettre en avant">
                <a rel="nofollow" href="http://www2.leboncoin.fr/ai?ca=12_s&amp;id=646915860&amp;cmd=gallery7" onclick="return xt_click(this,'C','0','mettre_v2','N')">Mettre en avant</a>
             </div>
             
    </div>
    

    
        

<div class="oas-x11" id="oas-x11">
    <script type="text/javascript">
    </script><a href="http://deliv.leboncoin.fr/1c/loisirs/sports_hobbies/R12/D91/1751109783@Middle,x11,x12,x06,x07!x11?cp=91620&amp;prixmin=40&amp;prixmax=75&amp;titre=casque_gpa_titium_taille_55&amp;ad=646915860&amp;offres=part&amp;r=12&amp;d=91&amp;XE&amp;compte=0&amp;XE&amp;" target="_top"><img class="zlkmaorwrxfsvrrvtkvk" src="http://deliv.leboncoin.fr/1/loisirs/sports_hobbies/R12/D91/1751109783@Middle,x11,x12,x06,x07!x11?cp=91620&amp;prixmin=40&amp;prixmax=75&amp;titre=casque_gpa_titium_taille_55&amp;ad=646915860&amp;offres=part&amp;r=12&amp;d=91&amp;XE&amp;compte=0&amp;XE&amp;" border="0"></a>
</div>

<div class="oas-x12" id="oas-x12">
    <script type="text/javascript">
    </script><a href="http://deliv.leboncoin.fr/1c/loisirs/sports_hobbies/R12/D91/1751109783@Middle,x11,x12,x06,x07!x12?cp=91620&amp;prixmin=40&amp;prixmax=75&amp;titre=casque_gpa_titium_taille_55&amp;ad=646915860&amp;offres=part&amp;r=12&amp;d=91&amp;XE&amp;compte=0&amp;XE&amp;" target="_top"><img class="zlkmaorwrxfsvrrvtkvk" src="http://deliv.leboncoin.fr/1/loisirs/sports_hobbies/R12/D91/1751109783@Middle,x11,x12,x06,x07!x12?cp=91620&amp;prixmin=40&amp;prixmax=75&amp;titre=casque_gpa_titium_taille_55&amp;ad=646915860&amp;offres=part&amp;r=12&amp;d=91&amp;XE&amp;compte=0&amp;XE&amp;" border="0"></a>
</div>




        

<div class="oas-middle" id="oas-middle">
    <script type="text/javascript">
    </script><a href="http://deliv.leboncoin.fr/1c/loisirs/sports_hobbies/R12/D91/1751109783@Middle,x11,x12,x06,x07!Middle?cp=91620&amp;prixmin=40&amp;prixmax=75&amp;titre=casque_gpa_titium_taille_55&amp;ad=646915860&amp;offres=part&amp;r=12&amp;d=91&amp;XE&amp;compte=0&amp;XE&amp;" target="_top"><img class="zlkmaorwrxfsvrrvtkvk" src="http://deliv.leboncoin.fr/1/loisirs/sports_hobbies/R12/D91/1751109783@Middle,x11,x12,x06,x07!Middle?cp=91620&amp;prixmin=40&amp;prixmax=75&amp;titre=casque_gpa_titium_taille_55&amp;ad=646915860&amp;offres=part&amp;r=12&amp;d=91&amp;XE&amp;compte=0&amp;XE&amp;" border="0"></a>
</div>



    

</div>


	<div class="floatLeft">
		<div>
			
			
				<div class="lbcImages">
					
                    <div class="images_cadre">
                        <a title="Cliquer pour voir l'image suivante" href="#" id="image" onclick="return nextImage();" class="images" style="background-image: url('$urlROOT/res/img/$AnnonceEnvoi.Photo1');"></a>
                    </div>
					
					
						
                        <div class="thumbs_carousel_window">
                            <div id="thumbs_carousel">
                            #if( $AnnonceEnvoi.Photo1 != "")
   							<a title="Cliquer pour voir cette image" id="thumb_0" class="thumbs_cadre active" href="#" onclick="return showImage(0);"> 
                                    <span class="thumbs" style="background-image: url('$urlROOT/res/img/$AnnonceEnvoi.Photo1');"></span> 
                            </a>
							#end
							#if( $AnnonceEnvoi.Photo2 != "")
                            <a title="Cliquer pour voir cette image" id="thumb_1" class="thumbs_cadre" href="#" onclick="return showImage(1);"> 
                                    <span class="thumbs" style="background-image: url('$urlROOT/res/img/$AnnonceEnvoi.Photo2');"></span> 
                            </a>
                            #end
                            #if( $AnnonceEnvoi.Photo3 != "")
                            <a title="Cliquer pour voir cette image" id="thumb_2" class="thumbs_cadre" href="#" onclick="return showImage(2);"> 
                                    <span class="thumbs" style="background-image: url('$urlROOT/res/img/$AnnonceEnvoi.Photo3');"></span> 
                             </a>
                            #end
                            </div>
                        </div>
                        <div class="nb-photo">
                            3 photos disponibles
                        </div> 

                        
                        <script type="text/javascript">
                            var imageCurrent = 0;
                            var aImages = new Array();

                            $( document ).ready(function() {
                                aImages[0] = "http://193.164.197.30/images/707/707410035563743.jpg";
                                    set_title("thumb_0", "Cliquer pour voir cette image");
                                aImages[1] = "http://193.164.197.60/images/703/703410037668690.jpg";
                                    set_title("thumb_1", "Cliquer pour voir cette image");
                                aImages[2] = "http://193.164.197.60/images/703/703410034613452.jpg";
                                    set_title("thumb_2", "Cliquer pour voir cette image");
                                
                                set_title("image", "Cliquer pour voir l'image suivante");
                                
                            });
                        </script>
                
                    </div>
                </div>
                <div class="print-lbcImages">
                    <div class="print-image1">
                        
                            <img src="http://193.164.197.30/images/707/707410035563743.jpg" alt="">
                        
                    </div>
                    
                    <div class="print-image-other">
                        
                        <img src="http://193.164.197.60/thumbs/703/703410037668690.jpg" alt="">
                        
                        <img src="http://193.164.197.60/thumbs/703/703410034613452.jpg" alt="">
                        
                    </div>
                    
                
            
                </div>
	
<div class="lbcParamsContainer floatLeft">

<div class="lbcParams floatLeft">

    
	
	    

	    

	    
	
    

    <table>
        
            <tbody><tr class="price">
                <th>
                        Prix: 
                </th>
                <td>
                            <span class="price">$AnnonceEnvoi.Prix €</span>
        
                </td>
            </tr>
        
        
            <tr>
                <th>Région :</th>
                <td>$AnnonceEnvoi.Ville</td>
            </tr>
 
        </tbody>
        </table>

	
	    
		
	    
	
</div>

<div class="floatRight x06_x07Div">
<div class="oas-x06" id="oas-x06">
    <script type="text/javascript">
        <!--
        if(OAS_listpos.search("(^x06|x06,|x06$)") != -1) {
            OAS_AD('x06');
        }
        //-->
    </script><a href="http://deliv.leboncoin.fr/1c/loisirs/sports_hobbies/R12/D91/1751109783@Middle,x11,x12,x06,x07!x06?cp=91620&amp;prixmin=40&amp;prixmax=75&amp;titre=casque_gpa_titium_taille_55&amp;ad=646915860&amp;offres=part&amp;r=12&amp;d=91&amp;XE&amp;compte=0&amp;XE&amp;" target="_top"><img class="zlkmaorwrxfsvrrvtkvk" src="http://deliv.leboncoin.fr/1/loisirs/sports_hobbies/R12/D91/1751109783@Middle,x11,x12,x06,x07!x06?cp=91620&amp;prixmin=40&amp;prixmax=75&amp;titre=casque_gpa_titium_taille_55&amp;ad=646915860&amp;offres=part&amp;r=12&amp;d=91&amp;XE&amp;compte=0&amp;XE&amp;" border="0"></a>
</div>
<div class="oas-x07" id="oas-x07">
    <script type="text/javascript">
        <!--
        if(OAS_listpos.search("(^x07|x07,|x07$)") != -1) {
            OAS_AD('x07');
        }
        //-->
    </script><a href="http://deliv.leboncoin.fr/1c/loisirs/sports_hobbies/R12/D91/1751109783@Middle,x11,x12,x06,x07!x07?cp=91620&amp;prixmin=40&amp;prixmax=75&amp;titre=casque_gpa_titium_taille_55&amp;ad=646915860&amp;offres=part&amp;r=12&amp;d=91&amp;XE&amp;compte=0&amp;XE&amp;" target="_top"><img class="zlkmaorwrxfsvrrvtkvk" src="http://deliv.leboncoin.fr/1/loisirs/sports_hobbies/R12/D91/1751109783@Middle,x11,x12,x06,x07!x07?cp=91620&amp;prixmin=40&amp;prixmax=75&amp;titre=casque_gpa_titium_taille_55&amp;ad=646915860&amp;offres=part&amp;r=12&amp;d=91&amp;XE&amp;compte=0&amp;XE&amp;" border="0"></a>
</div>



    
 
</div> 

<div class="clearer"></div>

</div>

<div class="AdviewContent">
    <div class="type">Description :</div>
    <div class="content">
	$AnnonceEnvoi.Description
    </div>
</div>




    
    
</div>

<div class="clear"></div>


<div class="adwatch_saved" id="ad_saved" style="display: none">
	<span id="ad_saved_msg"></span>
</div>

<script type="text/javascript">
<!--
	$( document ).ready(function() {
		var block = document.getElementById("advise_link_a");
		block.style.display="block";

		var myads_block = document.getElementById("myads_link");
		myads_block.style.display="inline";
	});

	function advise_display() {
	 	var block = document.getElementById("adview_advise");

		if ((block.style.display == "none") || (block.style.display == "")) {
			document.getElementById("advise_link_a").href = "#adview_advise";
			block.style.display="block";
		} else if (block.style.display == "block") {
			document.getElementById("advise_link_a").href = "#advise_link";
			block.style.display="none";
		}
	}
	// -->
</script>
</div> 




<br>
<div style="display: none;" id="adview_advise" class="lbcAdvise">
<script type="text/javascript">
	$( document ).ready(function() {
		var advise = document.getElementById("adview_advise");
		advise.style.display="none";
		
	});
</script>
<br>
<span class="fake_h3"><strong>Conseiller l'annonce à un ami</strong></span>
<br>
<br>

<form action="/st" method="get">
<input name="ca" value="12_s" type="hidden">
<input name="id" value="646915860" type="hidden">

	<div id="TipName">
	    <div class="TipText">Votre adresse email:</div>
	    <input class="tipInput" name="tip_sender" size="30" value="" maxlength="60" id="tip_sender" type="text">
	    
	</div>
    <br>

	<div id="TipRecipient">
		<div class="TipText">L'adresse email de votre ami(e):</div>
	    <input class="tipInput" name="tip_email" size="30" value="" maxlength="60" id="tip_email" type="text">
	    
    </div><br>
	<div class="tipSend">
	    <input value="Envoyer" onclick="check_dc('dd');return xt_click(this,'C','0','conseiller','N')" type="submit">
	</div>
</form>

<br><br>
</div>

</div>
</div>

<div class="clear"></div>
#end
            