$context.setPageTitle("Welcome")

<div id="container">

</div>


<div id="search_box">

</div>

#set ($js = $context.getProperties().get("context")+"/res/js/M2recherche/recherche.js")
$context.addJSDependency($js)

#set ($js = $context.getProperties().get("context")+"/res/js/M2recherche/table.js")
$context.addJSDependency($js)

#set ($js = $context.getProperties().get("context")+"/res/js/mylib-3.js")
$context.addJSDependency($js)



$context.addOnJsReady("new Esgi.module.user.Connect({ id : '#search_box'})")
