#set ($urlROOT = $context.getProperties().get("context"))

#if($utilisateurConnecter == false)
    <h1>Veuillez vous connecter avant d'ajouter des photos à une annonce</h1>
#else		

<form method="post" action=""  enctype="multipart/form-data">
	Photo 1  : <input type="file" name="uploadFile1" />
	Photo 2  : <input type="file" name="uploadFile2" />
	Photo 3  : <input type="file" name="uploadFile3" />
	<input type="hidden" name="idAnnonce" value="$idAnnonce"/> 
	<button type="submit">Valider</button>
</form>

#end