

<div id="formCreationAnnonce">
</div>

#if($utilisateurConnecter == false)
    <h1>Veuillez vous connecter avant de créer une annonce</h1>
#else
	#set ($js = $context.getProperties().get("context")+"/res/js/annonce/creation.js")
	$context.addJSDependency($js)
	$context.addOnJsReady("new Esgi.module.annonce.CreationAnnonce({ id : '#formCreationAnnonce'})")
#end