<!DOCTYPE html>
<html>
  <head>
    <title>$context.getPageTitle()</title>
    #if($context.genKeywords())
    	<meta name="keywords" content="$context.genKeywords()">
    #end
    #if($context.getDescription())
    	<meta name="description" content="$context.getDescription()">
    #end
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	#foreach($cssUrl in $context.cssUrls)
		<link href="$cssUrl" rel="stylesheet">
	#end
	#foreach($inlineCss in $context.inlineCss)
		<style>
		$inlineCss
		</style>
	#end
  </head>
  <body>
$context.getFragment("shared/main_header")
$context.getFragment("__CURRENT__")
$context.getFragment("shared/main_footer")
   
   <script>
     var APP_CONTEXT = '$context.getProperties().get("context")';
   </script> 
   
<!-- 
    jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed 
  -->
  
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="$context.getProperties().get("context")/res/js/mylib.js"></script>

    #foreach($jsUrl in $context.getJsUrls())
		<script src="$jsUrl"></script>
	#end

<script>
$(function(){
	console.log('Im ready');    
    #foreach($jsUrl in $context.getOnJsReady())
		$jsUrl
	#end
});
</script>

  </body>
</html>