<div class="container">
	<header id="headermain">
	    <a href=""><img src="http://static.leboncoin.fr/img/logo_25.png" 
	    title="LeBonCoinJ2E" alt="LeBonCoinJ2E" id="header_logo"></a>
	    <h1><br>$title</h1>
	</header>
	<nav>
		<ul id="nav_main" class="navmain">
			<div id="menuPrincipal"></div>
		</ul>
	</nav>

#set ($js = $context.getProperties().get("context")+"/res/js/shared/menuPrincipal.js")
$context.addJSDependency($js)
		
$context.addOnJsReady("new Esgi.module.shared.MenuPrincipal({ id : '#menuPrincipal'})")