<div id="container">
</div>

#set ($js = $context.getProperties().get("context")+"/res/js/index/index.js")
$context.addJSDependency($js)
$context.addOnJsReady("new Esgi.module.index.Index({ id : '#container'})")
